<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">My account</p>
      <button type="button" class="delete" @click="$emit('close')"/>
    </header>
    <section class="modal-card-body">
      You are {{$store.getters['user/myUser'].is_admin ? '' : 'not '}}admin
      <br><br>
      <b-field class="block" grouped>
        <b-field label="Username" label-position="inside">
          <b-input v-model="creds.username" :placeholder="$store.getters['user/myUser'].username"></b-input>
        </b-field>
        <b-field label="Password" label-position="inside">
          <b-input v-model="creds.password" placeholder="Unmodified" type="password" password-reveal></b-input>
        </b-field>
      </b-field>
      <br>
      <div class="block">
        <h3 class="subtitle">Your active sessions</h3>
        <b-table :data="tokens" :columns="tokenColumns" checkable :checked-rows.sync="selectedTokens" hoverable></b-table>
        <b-field>
          <b-button type="is-danger" :disabled="selectedTokens.length === 0" @click="deleteTokens">Revoke selected sessions</b-button>
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot is-right">
      <button class="button is-primary" type="button" @click="validateData">Save</button>
      <button class="button" type="button" @click="$emit('close')">Close</button>
    </footer>
  </div>
</template>

<script>
import ErrorHandler from "@/mixins/ErrorHandler";

export default {
  name: "User",
  mixins: [ErrorHandler],
  data () {
    return {
      creds: {
        username: null,
        password: null
      },
      tokenColumns: [
        {
          field: 'id_',
          label: 'ID',
          centered: true,
          width: '10'
        },
        {
          field: 'description',
          label: 'Description',
          centered: true,
          width: '30em'
        },
        {
          field: 'expires',
          label: 'Expiration date',
          centered: true,
          width: '20em'
        },
      ],
      selectedTokens: []
    }
  },
  computed: {
    tokens () {
      return this.$store.state.user.myTokens.map((token) => {
        token.expires = token.expires.toLocaleString()
        token.id_ = `${token.id} ${token.is_me ? '<br>(Your session)' : ''}`
        return token
      })
    },
  },
  methods: {
    validateData () {
      if ( (this.creds.username || this.creds.password) && (this.creds.username !== this.$store.getters['user/myUser'].username)) {
        this.$store.dispatch('user/editUser', Object.assign(this.creds, {id: this.$store.state.user.myID}))
            .then(() => this.$emit('close'))
            .catch(e => this.handleError(e))
      }
    },
    deleteTokens() {
      for (const token of this.selectedTokens) {
        this.dispatchOrError('user/deleteToken', token.id)
      }
    }
  }
}
</script>

<style scoped>

</style>