<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Login</p>
      <button type="button" class="delete" @click="$emit('close')"/>
    </header>
    <section class="modal-card-body">
      <b-field label="Username">
        <b-input type="text" v-model="credentials.username" placeholder="Your username" required>
        </b-input>
      </b-field>

      <b-field label="Password">
        <b-input type="password" v-model="credentials.password" password-reveal placeholder="Your password" required>
        </b-input>
      </b-field>
      <b-checkbox v-model="stayConnectedChange">Remember me</b-checkbox>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$emit('close')">Close</button>
      <button class="button is-primary" @click="login" :disabled="!(credentials.username && credentials.password)">Login</button>
    </footer>
  </div>
</template>

<script>
import ErrorHandler from '@/mixins/ErrorHandler'

export default {
  name: "LoginModal",
  mixins: [ErrorHandler],
  data () {
    return {
      credentials: {
        username: null,
        password: null,
        expire: Date.now() + 86400000,
        desc: window.navigator.userAgent
      },
      stayConnected: false
    }
  },
  methods: {
    stayConnectedChange() {
      this._stayConnected = !this._stayConnected
      if (this._stayConnected) {
        this.credentials.expire = -1
      } else this.credentials.expire = Date.now() + 86400000
    },
    login() {
      if (this.credentials.username && this.credentials.password) {
        this.$store.dispatch('user/login', this.credentials)
          .then(() => this.$emit('close'))
          .catch(e => this.handleError(e))
      }
    }
  }
}
</script>
