<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Settings</p>
      <button type="button" class="delete" @click="$emit('close')"/>
    </header>
    <section class="modal-card-body">
      <b-tabs type="is-toggle" expanded>
        <b-tab-item label="Printers">
          <br>
          <printers-settings ref="printers"></printers-settings>
        </b-tab-item>
        <b-tab-item v-if="isAdmin" label="Users management">
          <br>
          <users-settings ref="users"></users-settings>
        </b-tab-item>
      </b-tabs>
    </section>
    <footer class="modal-card-foot is-right">
      <button v-if="isAdmin" class="button is-primary" type="button" @click="save">Save</button>
      <button class="button" type="button" @click="$emit('close')">Close</button>
    </footer>
  </div>
</template>

<script>
import UsersSettings from "../Settings/Users";
import PrintersSettings from "../Settings/Printers";
import ErrorHandler from '@/mixins/ErrorHandler'
export default {
  name: "Settings",
  mixins: [ErrorHandler],
  components: {
    UsersSettings,
    PrintersSettings
  },
  computed:{
    isAdmin() {
      return this.$store.getters['user/myUser'].is_admin
    }
  },
  methods: {
    save() {
      let printersSub = this.$refs.printers.canSubmit()
      let usersSub = this.$refs.users.canSubmit()
      if ((printersSub || usersSub) && printersSub !== false && usersSub !== false) {
        let p1, p2
        if (printersSub) this.$refs.printers.submit()
        if (usersSub) this.$refs.users.submit()
        Promise.all([p1,p2]).then(this.$emit('close'))
      }
    }
  }
}
</script>