<template>
  <div class="modal-card" style="height: 600px">
    <header class="modal-card-head">
      <p class="modal-card-title">Upload a file</p>
      <button type="button" class="delete" @click="$emit('close')"/>
    </header>
    <section class="modal-card-body">
      <b-field label="Filename" :type="filenameError ? 'is-danger' : ''" :message="filenameError ? 'A file with the same name already exists' : ''">
        <b-input v-model="filename" :placeholder="file.name" ></b-input>
      </b-field>
      <b-field label="Do you want to add some tags to your file ? (Optional)">
        <b-taginput
            v-model="tags"
            ellipsis
            autocomplete
            open-on-focus
            allow-new
            :data="$store.getters['files/allTags'].concat(['new_project', 'art', 'mechanical', 'figurine'])"
            icon="label"
            :before-adding="(value) => !value.includes(' ')"
            placeholder="Add a tag"
            aria-close-label="Delete this tag">
        </b-taginput>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$emit('close')">Cancel</button>
      <button class="button is-primary" @click="upload">Upload</button>
    </footer>
  </div>
</template>

<script>
import ErrorHandler from "@/mixins/ErrorHandler";

export default {
  name: "UploadFile",
  mixins: [ErrorHandler],
  props: {
    file: File,
  },
  data () {
    return {
      tags: [],
      filename: this.file.name
    }
  },
  computed: {
    filenameError () {
      return this.$store.state.files.filesList.map(file => file.name).includes(this.filename)
    }
  },
  methods: {
    upload() {
      if (!this.filenameError)
          this.$store.dispatch('files/uploadFile',{file: this.file, name: this.filename, tags: this.tags})
              .then(() => this.$emit('close'))
              .catch(e => this.handleError(e))
    },
  }
}
</script>

<style scoped>

</style>