<template>
  <nav class="panel">
    <div class="panel-heading">
      Files
    </div>
    <template v-if="this.$store.getters['user/myUser']">
      <div class="panel-block">
        <b-tooltip multilined style="width: 100%" size="is-large" :delay="400">
          <template v-slot:content>
            You can use search criteria for date: <b> before:&lt;date&gt; </b>, <b>after:&lt;date&gt;</b>.<br>
            Valid date format is <b>YYYY-MM-DD</b>.<br>
            You can also search for tags with <b>tags:[tags]</b> (each tag separated by commas)<br>
            Multiple search criteria are allowed.
          </template>
          <b-input
              v-model="search"
              icon="search"
              type="search"
              placeholder="Search"
              expanded>
          </b-input>
        </b-tooltip>
      </div>
      <div class="panel-block" v-for="file in visibleFiles" :key="file.id">
        <b-collapse animation="slide" :open="isOpen === file.id" @open="isOpen = file.id" style="width: 100%">
          <a slot="trigger">{{ file.name }}</a>
          Added date: {{ file.upload_date.toLocaleString() }} <br>
          Owner: {{ $store.state.user.usersList.find(user => user.id === file.userid).username }}
          <template v-if="file.tags">
              <b-taglist>
                <b-tag type="is-info" :key="tag" v-for="tag in file.tags">{{ tag }}</b-tag>
              </b-taglist>
            </template>
          <b-field expanded>
            <b-field class="control" expanded>
              <b-button
                  type="is-danger is-light"
                  expanded
                  :disabled="isFileLoaded(file)"
                  @click="dispatchOrError('files/deleteFile',file)">
                Delete
              </b-button>
            </b-field>
            <b-field class="control" expanded>
              <b-button type="is-info is-light" expanded @click="dispatchOrError('files/downloadFile', file)">
                Download
              </b-button>
            </b-field>
            <b-field class="control" expanded>
              <b-button
                  type="is-success is-light"
                  expanded
                  @click="dispatchOrError('printer/loadFile', file)"
                  :disabled="!$store.state.printer.currentPrinter">
                Load
              </b-button>
            </b-field>
          </b-field>
        </b-collapse>
      </div>
      <div class="panel-block a">
        <b-upload accept=".sl1" v-model="uploadFile" @input="openUploadModal(uploadFile)">
          <b-icon icon="plus"></b-icon>
          <a>Add a file</a>
        </b-upload>
      </div>
    </template>
    <div v-else class="panel-block">
      <p class="has-text-grey-light">Hidden for anonymous users. <a @click="openLoginModal">Maybe try to login ?</a></p>
    </div>
  </nav>
</template>

<script>

import LoginModal from "@/mixins/LoginModal";
import NotificationError from "@/mixins/ErrorHandler";
import UploadModal from "@/mixins/UploadModal";

let searchRegex = {
  before: /before:(\d{4}-\d{2}-\d{2})/,
  after: /after:(\d{4}-\d{2}-\d{2})/,
  tags: /tags:([^ ]+)/
}

export default {
  name: "FilePanel",
  mixins: [LoginModal, NotificationError, UploadModal],
  data() {
    return {
      search: '',
      isOpen: null,
      uploadFile: null,
      fetching: null
    }
  },
  computed: {
    visibleFiles() {
      let search = this.search
      let files = this.$store.state.files.filesList
      if (search === '') {
        return files
      }
      let searchBefore = search.match(searchRegex.before)
      search = search.replaceAll(RegExp(searchRegex.before, 'g'), '')
      let searchAfter = search.match(searchRegex.after)
      search = search.replaceAll(RegExp(searchRegex.after, 'g'), '')
      let searchTags_ = this.search.match(searchRegex.tags)
      search = search.replaceAll(RegExp(searchRegex.tags, 'g'), '')
      let searchTags = searchTags_?.map(values => values.split(','))
      return files.filter((file) => {
        let upload_dateISO = file.upload_date.toISOString().slice(0, 10)
        return (searchBefore ? upload_dateISO <= searchBefore[1] : true) &&
            (searchAfter ? upload_dateISO >= searchAfter[1] : true) &&
            (file.name.includes(search.trim().replace(/\s+/g, ' '))) &&
            (searchTags ? searchTags[1].every(tag => file.tags.includes(tag)) : true)
      })
    }
  },
  methods: {
    isFileLoaded(file){
      return this.$store.state.printer?.printerStatus?.loaded_file?.id === file.id
    }
  }
}
</script>

<style scoped>

</style>