<template>
  <aside>
    <printer-selector v-if="!currentPrinter"></printer-selector>
    <printer-panel v-else></printer-panel>
    <file-panel></file-panel>
  </aside>
</template>

<script>
import FilePanel from "./FilePanel";
import PrinterPanel from "./PrinterPanel";
import PrinterSelector from "./PrinterSelector"
export default {
  name: "TheAsideSection",
  components: {
    FilePanel,
    PrinterPanel,
    PrinterSelector
  },
  computed: {
    currentPrinter() {
      return this.$store.state.printer.currentPrinter
    }
  }
}
</script>

<style scoped>

</style>