<template>
  <nav class="panel">
    <div class="panel-heading">
      Printer
    </div>
    <template v-if="$store.getters['user/myUser']">
      <template v-if="printerList.length > 0">
          <p v-if="selectedPrinter" class="panel-block">
            <b-icon icon="chevron-right"></b-icon>
            Selected printer : {{ selectedPrinter.name }}
          </p>
          <p v-else class="panel-block">
            <b-icon icon="chevron-right"></b-icon>
            Selected printer :
          </p>
          <div v-for="printer in printerList" :key="printer.id"  class="panel-block">
            <b-radio v-model="selectedPrinter" :native-value="printer" >
              {{ printer.name }}
            </b-radio>
          </div>
          <div class="panel-block">
            <button
                class="button is-primary"
                type="button"
                @click="select()"
                :disabled="!selectedPrinter"
            >Go to printer panel
            </button>
          </div>
      </template>
      <div v-else class="panel-block">
        <p class="has-text-grey-light">No printer found. <a @click="openSettingsModal">Maybe try to register one ?</a></p>
      </div>
    </template>
    <div v-else class="panel-block">
      <p class="has-text-grey-light">Hidden for anonymous users.</p>
    </div>
  </nav>
</template>

<script>
import LoginModal from "@/mixins/LoginModal"
import SettingsModal from "@/mixins/SettingsModal"
import ErrorHandler from "@/mixins/ErrorHandler"

export default {
  name: "PrinterSelector",
  mixins: [LoginModal, SettingsModal, ErrorHandler],
  data () {
    return {
      selectedPrinter: null
    }
  },

  computed: {
    printerList () {
      return this.$store.state.printer.printerList
    },

    currentPrinter () {
      return this.$store.state.printer.currentPrinter
    },

    status () {
      if (this.$store.state.printer.isPrinting) {
        if (this.$store.state.printer.isPaused) {
          return 'Paused'
        } else return 'Printing'
      } else return 'idle'
    },

    connected () {
      return !this.selectedPrinter
    }
  },

  methods: {
    select() {
      this.$store.dispatch('printer/getPrinterStatus', this.selectedPrinter.id)
          .then(() => this.$store.commit('printer/setCurrentPrinter', this.selectedPrinter.id))
          .then(() => this.$store.dispatch('printer/updateJobs'))
          .catch((e) => this.handleError(e))
    }
  }
}
</script>

<style scoped>

</style>