<template>
  <nav class="panel">
    <div class="panel-heading">
      <div class="columns">
        <span class="column">{{ myPrinter.name }}</span>
        <a @click="dispatchOrError('printer/printerAction', stringifyStatus === 'Powered off' ? 'powerOn': 'powerOff')" class="column is-1 mx-1">
          <b-icon :type="stringifyStatus === 'Powered off' ? 'is-danger' : 'is-success'" icon="power-off"></b-icon>
        </a>
        <a @click="resetCurrentPrinter()" class="column is-1 mx-1">
          <b-icon icon="times"></b-icon>
        </a>
      </div>
    </div>
    <div class="panel-block">
      Status: {{ stringifyStatus }}
    </div>
    <div v-if="status.loaded_file" class="panel-block">
      File loaded: {{ file.name }}
    </div>
    <div v-if="status.loaded_file" class="panel-block">
      Print time: {{ stringifyTimespan(status.loaded_file.details.slapi.estimated_time*1000) }}
    </div>
    <div v-if="status.loaded_file" class="panel-block">
      Total amount of layers: {{ status.loaded_file.details.slapi.layeramount}}
    </div>
    <div v-if="isPrinting" class="panel-block">
      Current layer: {{status.powered.printing.current_layer}}
    </div>
    <div v-if="isPrinting" class="panel-block">
      Approx. remaining time: {{timeBetween(status.powered.printing.end_date, new Date())}}
    </div>
    <div v-if="isPrinting" class="panel-block">
      <div class="control">
        <b-progress :value="status.powered.printing.current_layer/status.powered.printing.max_layer*100"
                    show-value format="percent"></b-progress>
      </div>
    </div>
    <b-field v-if="status.loaded_file" class="panel-block">
      <b-field class="control" expanded>
        <b-button
            @click="dispatchOrError('printer/printerAction', 'cancelPrint')"
            type="is-danger"
            :disabled="!isPrinting"
            expanded>
          Stop
        </b-button>
      </b-field>
      <b-field class="control" expanded>
        <b-button
            @click="dispatchOrError('printer/printerAction', pauseOrResume)"
            type="is-warning"
            :disabled="!isPrinting"
            expanded>
          {{ stringifyStatus === 'Printing (paused)' ? 'Resume' : 'Pause'}}
        </b-button>
      </b-field>
      <b-field class="control" expanded>
        <b-button
            @click="dispatchOrError('printer/printerAction', 'startPrint')"
            type="is-info"
            :disabled="status.loaded_file && (isPrinting || !status.powered)"
            expanded>
          Print
        </b-button>
      </b-field>
    </b-field>
  </nav>
</template>

<script>
import ErrorHandler from "@/mixins/ErrorHandler";
import StringifyTimespan from '@/mixins/StringifyTimespan'
export default {
  name: "PrinterPanel",
  mixins: [ErrorHandler, StringifyTimespan],
  data () {
    return {
      fetching: null
    }
  },
  computed: {
    myPrinter () {
      return this.$store.state.printer.printerList.find(printer => this.$store.state.printer.currentPrinter == printer.id)
    },
    status () {
      return this.$store.state.printer.printerStatus
    },
    stringifyStatus () {
      if (this.status.powered){
        if (this.status.powered.calibrating){
          return 'Calibrating'
        } else if (this.status.powered.printing){
          if (this.status.powered.printing.paused) return 'Printing (paused)'
          else return 'Printing'
        } else return 'idle'
      } else return 'Powered off'
    },
    pauseOrResume(){
      return this.status?.powered?.printing?.paused ? 'resumePrint' : 'pausePrint'
    },
    isPrinting(){
      return this.status?.powered?.printing
    },
    file() {
      return this.$store.state.files.filesList.find(file => file.id === this.status.loaded_file.id)
    },
    isAvailable() {
      return !this.isPrinting && status.powered && !status?.powered?.calibrating
    }
  },
  methods: {
    fetchStatus () {
      this.fetching = setInterval(() =>
          this.dispatchOrError('printer/getPrinterStatus'),
          5000
      )
    },
    resetCurrentPrinter() {
      this.$store.commit('printer/resetCurrentPrinter')
    }
  },
  mounted: function () {
    this.fetchStatus()
  },
  beforeDestroy () {
    clearInterval(this.fetching)
  }
}
</script>

<style scoped>

</style>