<template>
  <body>
    <navbar class="container"></navbar>
    <main class="section container">
      <div class="columns">
      <section-aside class="column is-one-third"></section-aside>
      <section-main class="column"></section-main>
      </div>
    </main>
  </body>
</template>

<script>
import navbar from "./TheNavbar"
import SectionMain from "./TheMainSection/index"
import SectionAside from "./TheAsideSection/index"
import ErrorHandler from '@/mixins/ErrorHandler'
export default {
  components: {
    navbar,
    SectionMain,
    SectionAside
  },
  mixins: [ErrorHandler],
  mounted() {
    this.$store.dispatch('user/checkToken')
        .then((logged) => {
          if (logged === false) {
            return this.$buefy.notification.open({
            duration: 4000,
            message: `You were disconnected because your session has expired`,
            type: 'is-warning'
          })}
          if (this.$store.state.user.myID) this.dispatchOrError('printer/fetchPrinterList')
        }).catch((e)=>this.handleError(e))

  }
}
</script>