<template>
  <b-navbar shadow>
    <template slot="brand">
      <b-navbar-item>
        <img
            src="~@/assets/slapi_256.png"
            alt="Slapi logo"
        >
      </b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <a v-if="myUser" class="button is-light dont-click">
            Connected as {{ myUser.username }}
          </a>
          <a v-else class="button is-dark" @click="openLoginModal" >
            Login
          </a>
          <a v-if="myUser" class="button is-primary" @click="openSettingsModal">
            <b-icon icon="cog"></b-icon>
          </a>
        </div>
      </b-navbar-item>
      <b-navbar-dropdown label="Account" v-if="myUser">
        <b-navbar-item @click="openAccountModal">
          User Settings
        </b-navbar-item>
        <b-navbar-item @click="dispatchOrError('user/logout')">
          Logout
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>
  </b-navbar>
</template>

<script>
import Login from "@/mixins/LoginModal"
import Account from "@/mixins/AccountModal";
import Settings from "@/mixins/SettingsModal"
import ErrorHandler from '@/mixins/ErrorHandler'

export default {
  name: "TheNavBar",
  mixins: [Login, Account, Settings, ErrorHandler],
  data(){
    return {
      isSettingsOpened: false
    }
  },
  computed :{
    myUser() {
      return this.$store.getters['user/myUser']
    }
  }
}
</script>

<style scoped>
.dont-click {
  pointer-events: none;
}
</style>