<template>
  <section>
    <br>
      <b-field>
        <b-switch
            :disabled="!canCalibrate || !$store.getters['user/myUser'].is_admin"
            :value="inCalibration"
            @input="(okay) => (dispatchOrError('printer/printerAction',  okay ? 'startCalibration':'stopCalibration'))">
          Calibration mode
        </b-switch>
      </b-field>
      <b-field>
        <p class="control">
          <b-button :disabled="!inCalibration" @click="move(movementLength)">Move up</b-button>
        </p>
        <p class="control">
          <b-button :disabled="!inCalibration" @click="move(-movementLength)">Move down</b-button>
        </p>
      </b-field>
    <b-field label="Change movement scale (mm)">
      <b-radio-button :disabled="!inCalibration" v-model="movementLength" :native-value="100">100</b-radio-button>
      <b-radio-button :disabled="!inCalibration" v-model="movementLength" :native-value="10">10</b-radio-button>
      <b-radio-button :disabled="!inCalibration" v-model="movementLength" :native-value="1">1</b-radio-button>
      <b-radio-button :disabled="!inCalibration" v-model="movementLength" :native-value="0.1">0.1</b-radio-button>
    </b-field>
  </section>
</template>

<script>
import ErrorHandler from '@/mixins/ErrorHandler'

export default {
  name: "Calibration",
  mixins: [ErrorHandler],
  data () {
    return {
      movementLength: 1
    }
  },
  computed: {
    canCalibrate() {
      return this.$store.state.printer.currentPrinter &&
          this.$store.state.printer.printerStatus.powered &&
          !this.$store.state.printer.printerStatus.powered?.printing
    },
    inCalibration() {
      return this.$store.state.printer.printerStatus.powered?.calibrating
    }
  },
  methods: {
    move(to) {
      this.dispatchOrError('printer/movePlatform', to)
    }
  }
}
</script>
