<script>
import { Doughnut, mixins} from 'vue-chartjs'

export default {
  name: "DoughnutChart",
  mixins: [ Doughnut, mixins.reactiveProp ],
  props:['chartData'],

  mounted () {
    this.renderChart(this.chartData, this.options)
  },

  watch: {
    chartData () {
      this.$data._chart.update()
    }
  }

};
</script>

<style scoped>
</style>