<template>
  <section class="has-text-centered">
    <br>
    <div v-if="jobsHistory">
      <b-table :data="jobsHistory" class="has-text-left" paginated per-page="10">
        <b-table-column field="result" label="Result" v-slot="props">
          <b-icon :icon="props.row.result === 'success' ? 'check' : 'times'"></b-icon>
        </b-table-column>
        <b-table-column
            field="file_name"
            label="File"
            v-slot="props">
          {{ findFileNameWithId(props.row.file_id) || "[Deleted file]"}}
        </b-table-column>
        <b-table-column field="start_date" label="Started at" v-slot="props">
          {{ props.row.start_date.toLocaleString() }}
        </b-table-column>
        <b-table-column label="Duration" v-slot="props">
          {{ timeBetween(props.row.start_date,props.row.end_date) }}
        </b-table-column>
      </b-table>
      <b-button @click="$store.dispatch('printer/updateJobs', $store.state.printer.currentPrinter)">Update</b-button>
    </div>
    <div v-else>
      <p>No printer selected</p>
    </div>
  </section>
</template>

<script>
import StringifyTimespan from '@/mixins/StringifyTimespan'

export default {
  name: "History",
  mixins: [StringifyTimespan],
  data() {
    return {
    }
  },
  computed: {
    jobsHistory () {
      return this.$store.state.printer.currentPrinter ? this.$store.state.printer.jobsHistory : null
    },
  },
  methods:{
    findFileNameWithId (id){
      return this.$store.state.files.filesList.find(file => file.id === id)?.name
    }
  }
}
</script>
