<template>
  <b-tabs type="is-boxed" expanded>
    <b-tab-item label="Calibration">
      <calibration></calibration>
    </b-tab-item>
    <b-tab-item label="Statistics" style="width: 100%">
      <stats></stats>
    </b-tab-item>
    <b-tab-item label="History" style="width: 100%">
      <history></history>
    </b-tab-item>
  </b-tabs>
</template>

<script>
import Calibration from "./Calibration"
import Stats from "./Stats"
import History from "./History"
export default {
  name: "TheMainSection",
  components: {
    Calibration,
    Stats,
    History
  }
}
</script>

<style scoped>

</style>