<template>
  <section  class="has-text-centered">
    <br>
    <div v-if="jobs">
      <div v-if="jobs.length" >
        <p>Total amount of jobs: {{jobs.length}}</p>
        <p>Succeeded jobs: {{jobs.filter(job => job.result === 'success').length}}</p>
        <p>Failed jobs: {{jobs.filter(job => job.result !== 'success').length}}</p>
        <br>
        <div class="container" style="height:400px; width:400px;">
          <doughnut-chart
              ref="jobs_chart"
              :chart-data="chartData">
          </doughnut-chart>
        </div>
      </div>
      <div v-else>
        <h2 class="subtitle">You haven't printed anything yet, so no statistics are available.</h2>
      </div>
    </div>
    <div v-else>No printer selected</div>
  </section>
</template>

<script>

import doughnutChart from './DoughnutChart';

export default {
  name: 'Stats',
  components : {
    doughnutChart
  },

  computed: {
    jobs() {
      return this.$store.state.printer.currentPrinter ? this.$store.state.printer.jobsHistory : null
    },

    chartData() {
      return {
        labels: ['Succeeded jobs', 'Failed jobs'],
        datasets: [
          {
            data: [
              this.jobs.filter(job => job.result === 'success').length,
              this.jobs.filter(job => job.result !== 'success').length
            ],
            backgroundColor: ['#23d160', '#ff3860']
          }
        ]
      }
    },
  }
}
</script>
