<template>
  <div>
    <b-tab-item :label="name">
      <br>
      <div class="field">
        <b-switch :v-if="isAdmin" v-model="canEdit" type="is-warning">Edit</b-switch>
      </div>
      <br>
      <b-field label="Printer name"
               label-position="inside"
               :type="nameError ? 'is-danger' : ''"
               :message="nameError ? 'A printer with the same name already exists' : ''">
        <b-input :placeholder="printerName"
                 :disabled="!canEdit"
                 v-model="printerName">
        </b-input>
      </b-field>
      <b-field label="Socket address"
               label-position="inside"
               :type="socketError ? 'is-danger' : ''"
               :message="socketError ? 'This socket address is not valid' : ''">
        <b-input :placeholder="address"
                 :disabled="!canEdit"
                 v-model="address">
        </b-input>
      </b-field>
      <b-field grouped label="Resolution">
        <b-field label="X" label-position="on-border">
          <b-input :placeholder="prop.lcd_resolution.x"
                   :disabled="!canEdit"
                   v-model.number="prop.lcd_resolution.x"
                   type="number">
          </b-input>
        </b-field>
        <b-field label="Y" label-position="on-border">
          <b-input :placeholder="prop.lcd_resolution.y"
                   :disabled="!canEdit"
                   v-model.number="prop.lcd_resolution.y"
                   type="number">
          </b-input>
        </b-field>
      </b-field>
      <b-field grouped label="Height">
        <b-field label="Maximum height" label-position="on-border" class="small-input">
          <b-input :placeholder="prop.z_axis.max_height"
                   :disabled="!canEdit"
                   v-model.number="prop.z_axis.max_height"
                   type="number">
          </b-input>
        </b-field>
        <b-field label="Steps by mm" label-position="on-border" class="small-input">
          <b-input :placeholder="prop.z_axis.steps_by_mm"
                   :disabled="!canEdit"
                   v-model.number="prop.z_axis.steps_by_mm"
                   type="number">
          </b-input>
        </b-field>
        <b-field label="Motor speed" label-position="on-border" class="small-input">
          <b-input :placeholder="prop.z_axis.motor_speed"
                   :disabled="!canEdit"
                   v-model.number="prop.z_axis.motor_speed"
                   type="number">
          </b-input>
        </b-field>
        <b-field label="Motor acceleration" label-position="on-border" class="small-input">
          <b-input :placeholder="prop.z_axis.motor_accel"
                   :disabled="!canEdit"
                   v-model.number="prop.z_axis.motor_accel"
                   type="number">
          </b-input>
        </b-field>
      </b-field>
      <b-button :disabled="!canDelete" class="button is-primary" type="is-danger" @click="deletePrinter">Delete</b-button>
    </b-tab-item>
  </div>
</template>

<script>


import ErrorHandler from "@/mixins/ErrorHandler";

export default {
  name: "PrinterInfo",
  mixins: [ErrorHandler],
  props: {
    id: String,
    name: String,
    socket_address: String,
    properties: Object
  },

  computed: {
    isAdmin() {
      return this.$store.getters['user/myUser'].is_admin
    },

    canDelete() {
      return this.isAdmin && this.$store.state.printer.currentPrinter !== this.id
    },

    nameError() {
      return this.otherNameList.includes(this.printerName)
    },

    socketError() {
      return this.address &&
          !/^(ipc:\/\/[^\0]+)|(tcp|udp):\/\/(.*)(:[0-9]{1,5})?$/.test(this.address)
    }
  },

  data() {
    return {
      canEdit: false,
      otherNameList: this.$store.state.printer.printerList.filter(printer => printer.id !== this.id).map(printer => printer.name),
      printerName: JSON.parse(JSON.stringify(this.name)),
      address: JSON.parse(JSON.stringify(this.socket_address)),
      prop: JSON.parse(JSON.stringify(this.properties))
    }
  },

  methods: {
    hasChanged() {
      return this.name !== this.printerName ||
          this.socket_address !== this.address ||
          JSON.stringify(this.properties) !== JSON.stringify(this.prop)
    },

    isValid() {
      return !this.otherNameList.includes(this.printerName)
    },

    getChanges() {
      let printer = {
        id: this.id,
        name: this.name,
        socket_address: this.socket_address,
        properties: this.properties
      }
      if (this.name !== this.printerName) printer.name = this.printerName;
      if (this.socket_address !== this.address) printer.socket_address = this.address;
      if (JSON.stringify(this.properties) !== JSON.stringify(this.prop)) {
        printer.properties = this.prop;
      }
      return printer
    },

    deletePrinter() {
        if (this.canDelete) {
          this.dispatchOrError('printer/deletePrinter', this.id)
        }
    }
  }
}
</script>

<style scoped>
.small-input {
  width: 10em;
}
</style>