<template>
  <b-tabs expanded>
    <printer-info
        v-for="printer in printerList"
        :key="printer.id"
        :id="printer.id"
        :name="printer.name"
        :socket_address="printer.socket_address"
        :properties="printer.properties"
        :ref="printer.id">
    </printer-info>
    <b-tab-item :v-if="$parent.isAdmin" icon="plus" label="Add a new printer">
      <br>
      <b-field label="Printer name"
               label-position="inside"
               :type="nameError ? 'is-danger' : ''"
               :message="nameError ? 'A printer with the same name already exists' : ''">
        <b-input v-model="newPrinter.name"></b-input>
      </b-field>
      <b-field label="Socket address"
               label-position="inside"
               :type="socketError ? 'is-danger' : ''"
               :message="socketError ? 'This socket address is not valid' : ''">
        <b-input v-model="newPrinter.socket_address" type="text"></b-input>
      </b-field>
      <b-field grouped label="Resolution">
        <b-field label="X" label-position="on-border">
          <b-input v-model.number="newPrinter.properties.lcd_resolution.x" type="number"></b-input>
        </b-field>
        <b-field label="Y" label-position="on-border">
          <b-input v-model.number="newPrinter.properties.lcd_resolution.y" type="number"></b-input>
        </b-field>
      </b-field>
      <b-field grouped label="Height">
        <b-field label="Maximum height" label-position="on-border" class="small-input">
          <b-input v-model.number="newPrinter.properties.z_axis.max_height" type="number"></b-input>
        </b-field>
        <b-field label="Steps by mm" label-position="on-border" class="small-input">
          <b-input v-model.number="newPrinter.properties.z_axis.steps_by_mm" type="number"></b-input>
        </b-field>
        <b-field label="Motor speed" label-position="on-border" class="small-input">
          <b-input v-model.number="newPrinter.properties.z_axis.motor_speed" type="number"></b-input>
        </b-field>
        <b-field label="Motor acceleration" label-position="on-border" class="small-input">
          <b-input v-model.number="newPrinter.properties.z_axis.motor_accel" type="number"></b-input>
        </b-field>
      </b-field>
    </b-tab-item>
  </b-tabs>
</template>

<script>

import printerInfo from "./PrinterInfo";
import ErrorHandler from "@/mixins/ErrorHandler";

export default {
  name: "PrintersSettings",
  mixins: [ErrorHandler],
  components : {
    printerInfo
  },

  data () {
    return {
      newPrinter: {
        name: null,
        socket_address: null,
        properties: {
          'lcd_resolution': {
            'x': null,
            'y': null
          },
          'z_axis': {
            'max_height': null,
            'steps_by_mm': null,
            'motor_speed': null,
            'motor_accel': null
          }
        }
      }
    }
  },

  computed: {
    printerList() {
      return this.$store.state.printer.printerList
    },

    nameError() {
      return this.printerList.map(printer => printer.name).includes(this.newPrinter.name)
    },

    socketError() {
      return this.newPrinter.socket_address &&
          !/^(ipc:\/\/[^\0]+)|(tcp|udp):\/\/(.*)(:[0-9]{1,5})?$/.test(this.newPrinter.socket_address)
    }
  },

  methods: {
    resetNewPrinter() {
      return {
        name: null,
        socket_address: null,
        properties: {
          'lcd_resolution': {
            'x': null,
            'y': null
          },
          'z_axis': {
            'max_height': null,
            'steps_by_mm': null,
            'motor_speed': null,
            'motor_accel': null
          }
        }
      }
    },

    canSubmit() {
      let changesWereMade = null;
      for (let printer of this.$store.state.printer.printerList) {
        if (this.$refs[printer.id][0].hasChanged()) {
          changesWereMade = true;
        }
        if (!this.$refs[printer.id][0].isValid()) {
          return false;
        }
      }
      if (this.newPrinterIsValid()) {
        return true
      }
      return changesWereMade
    },

    newPrinterIsValid() {
      let isNotEmpty = Object.values(this.newPrinter).every(o => o !== null)
      return isNotEmpty && !this.nameError
    },

    submit() {
      for (let printer of this.$store.state.printer.printerList) {
        if (this.$refs[printer.id][0].hasChanged() && this.$refs[printer.id][0].isValid()) {
          this.dispatchOrError('printer/saveChanges', this.$refs[printer.id][0].getChanges())
        }
      }
      if (this.newPrinterIsValid()) {
        this.dispatchOrError('printer/newPrinter', this.newPrinter)
        this.newPrinter = this.resetNewPrinter()
      }
    }
  }
}
</script>

<style scoped>
.small-input {
  width: 10em;
}
</style>