<template>
  <div>
    Click on a line to edit a user's properties, check to delete them.
    <b-field v-if="selected" class="control" grouped>
      <b-field
          v-for="property in properties.filter(prop => prop.editable)"
          :key="property.field"
          :label="property.label"
          :type="isValid(property, selected) ? '' : 'is-danger'"
      >
        <b-checkbox-button
            v-if="property.type === 'boolean'"
            v-model="selected[property.field]"
            type="is-light">
          <b-icon :icon="selected[property.field] == true ? 'check' : 'times'"></b-icon>
          {{selected[property.field] == true ? 'Yes' : 'Nope'}}
        </b-checkbox-button>
        <b-input
            v-else
            v-model="selected[property.field]"
            :type="property.type"
            :password-reveal="property.type === 'password'"
            :placeholder="property.type === 'password' ? 'unmodified' : ''">
        </b-input>
      </b-field>
    </b-field>
    <b-table
        :data="users"
        :row-class="(user) => (usersToDelete.map(user => user.id).includes(user.id) ? 'has-background-danger' : '')"
        :columns="properties.filter(prop => prop.visible)"
        :selected.sync="selected"
        checkable
        :checked-rows.sync="usersToDelete"
        hoverable></b-table>
    <b-button @click="deleteUsers" :disabled="!usersToDelete.length" type="is-danger">Delete selected users</b-button>
    <br><br>
    <b-button type="is-primary" @click="createNewUser = !createNewUser">Add a new user</b-button>
    <b-field v-if="createNewUser" class="control" grouped>
      <b-field
          v-for="property in properties.filter(prop => prop.editable)"
          :key="property.field"
          :label="property.label"
          :type="isValid(property, newUser) ? '' : 'is-danger'"
      >
        <b-checkbox-button
            v-model="newUser[property.field]"
            v-if="property.type === 'boolean'"
            type="is-light">
          <b-icon :icon="newUser[property.field] === true ? 'check' : 'times'"></b-icon>
          {{ newUser[property.field] == true ? 'Yes' : 'Nope' }}
        </b-checkbox-button>
        <b-input
            v-else
            v-model="newUser[property.field]"
            :type="property.type"
            :password-reveal="property.type === 'password'"
            :placeholder="property.type === 'password' ? 'unmodified' : ''">
        </b-input>
      </b-field>
    </b-field>
  </div>
</template>

<script>
import ErrorHandler from '@/mixins/ErrorHandler'

export default {
  name: "UsersSettings",
  mixins: [ErrorHandler],
  data() {
    return {
      users: JSON.parse(JSON.stringify(this.$store.state.user.usersList)),
      selected: null,
      newUser: {is_admin: false},
      usersToDelete: [],
      createNewUser: false,
      properties: [
        {
          field: 'id',
          label: 'ID',
          type: 'text',
          visible: true,
          unique: true,
          editable: false,
          centered: true,
          width: '10em'
        },
        {
          field: 'username',
          label: 'Username',
          type: 'text',
          visible: true,
          unique: true,
          editable: true,
          centered: true,
          width: '20em'
        },
        {
          field: 'password',
          label: 'Password',
          type: 'password',
          visible: false,
          editable: true,
        },
        {
          field: 'is_admin',
          label: 'Is Admin',
          type: 'boolean',
          visible: true,
          editable: true,
          centered: true,
          width: '20em'
        }
      ]
    }
  },
  methods: {
    isValid (property, value) {
      if (!property.unique) {
        return true
      }
      for (const user of this.users.filter((user) => (user !== value))) {
        if (value[property.field] == user[property.field]){
          return false
        }
      }
      return true
    },
    canSubmit () {
      if (JSON.stringify(this.users) === JSON.stringify(this.$store.state.user.usersList) && Object.keys(this.newUser).length === 1) {
        return null
      }
      if (Object.keys(this.newUser).length !== this.properties.filter(prop => prop.editable).length &&
          Object.keys(this.newUser).length !== 1) {
        return false
      }
      for (const prop of this.properties) {
        if (prop.unique && !this.users.map(user => user[prop]).filter((value, i , a) => a.indexOf(value) === i).length === this.users.length) {
           return false
        }
      }
      return true
    },
    submit () {
      if (Object.keys(this.newUser).length === this.properties.filter(prop => prop.editable).length) {
        this.dispatchOrError('user/createUser', this.newUser)
      }
      this.users
          .filter(user => {
            return this.$store.state.user.usersList.some(oldUser => JSON.stringify(user) !== JSON.stringify(oldUser))
          })
          .forEach(user => this.dispatchOrError('user/editUser', user))
    },
    deleteUsers () {
      for (const user of this.usersToDelete) {
        this.dispatchOrError('user/deleteUser', user.id)
      }
    }
  }
}
</script>
